body{
  font-family: Arial;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
header{

  width: 100%;
  height: 70px;
  background: #000;
}
.header-logo{
  color: #fff;
  float: left;
  margin-top: 15px;
  font-size: 30px;
}
form{
  right: 0;
  float: right;
  margin-top: 15px;
}
.Search-btn{
  right: 0;
}
.search-bar{
  right: -120px;
}
.recipes{
  display: flex;
}
